@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit</h2>

<h4>Edit this Book's info: @Html.DisplayFor(model => model.BookName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookId)

    @Html.LabelFor(model => model.BookName)
    @Html.EditorFor(model => model.BookName)
@* 
    @Html.Label("Select a Author")
    @Html.DropDownList("AuthorId") *@ 

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Books", "Index")</p>