@{
  Layout = "_Layout";
}

@using Library.Models




<h1>Welcome To The Library</h1>

  @using (Html.BeginForm("SearchAuthor", "Authors"))
  {
    @Html.Label("Search by Author:") 
    <br>
    @Html.TextBox("name")<input type="submit" value="Search">
  }
  @using (Html.BeginForm("SearchBook", "Books"))
  {
    <br>
    @Html.Label("Search by Book:")
    <br>
    @Html.TextBox("title")<input type="submit" value="Search">
  }

<ul style="list-style-type: none;">
  @foreach (Book book in Model["Book"])
  {
    <li>Book Name: @Html.ActionLink($"{book.BookName}", "Details", "Books", new { id = book.BookId })
        <br>
    </li>
    <hr />
  }
</ul>

@foreach(Author author in ViewBag.manyAuthors)
{
      <li>Author Name: @Html.ActionLink($"{author.AuthorName}", "Details", "Authors", new { id = author.AuthorId })</li>
}

<br>
<hr />
<p>@Html.ActionLink("See all Books", "Index", "Books")</p>
<p>@Html.ActionLink("See all Authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>