@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Add a Book to this Author.</h2>

<h4>Add a Book to this Author: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select a Book")
    @Html.DropDownList("BookId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>