@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Edit a Author</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)
    @* @Html.HiddenFor(model => model.StartDate) *@

    @Html.LabelFor(model => model.AuthorName)
    @Html.EditorFor(model => model.AuthorName)

    @* @Html.DisplayNameFor(model => model.StartDate) 
    @Html.EditorFor(model => model.StartDate) *@
    
    @* @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate) *@
  

    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all Authors", "Index")</p>