@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.PatronName): @Html.DisplayFor(model => model.PatronName)</h3>
@* <h3>@Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)</h3> *@

@if(@Model.JoinEntries.Count == 0)
{
  <p>This patron does not contain any books</p>
}
else
{
  <h4>books the patron contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Book.BookName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Patron", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>
